<template>
	<!-- vlog 详情中 => 1点赞、2收藏、3评论、4转发 -->
	<view class="todo-con cl">
		<view class="left-con" v-if="userInfo">
			<image :src="portrait"></image>
			<text class="name">{{ name }}</text>
		</view>
		<view class="right-con">
			<view class="con" @click="handleLike" v-if="show_like">
				<text :class="['iconfont', {like: is_like}]">&#xe8c3;</text>
				<text class="num" v-if="show_like_num">{{ like_num }}</text>
			</view>
			<view class="con" @click="handleCollect" v-if="show_collect">
				<text :class="['iconfont', {collect: is_collect}]">&#xe8c6;</text>
				<text class="num" v-if="show_collect_num">{{ collect_num }}</text>
			</view>
			<view class="con" @click="handleComment" v-if="show_comment">
				<text class="iconfont comment">&#xe8b4;</text>
				<text class="num" v-if="show_comment_num">{{ comment_num }}</text>
			</view>
			<view class="con" @click="handleShare" v-if="show_share">
				<text class="iconfont">&#xe8b0;</text>
				<text class="num" v-if="show_share_num">{{ share_num }}</text>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	props: {
		userInfo: {
			type: Boolean,
			default: true
		},
		name: {
			type: String,
			default: ''
		},
		portrait: {
			type: String,
			default: ''
		},
		
		// 点赞
		is_like: {
			type: Boolean,
			default: false
		},
		like_num: {
			type: [Number, String],
			default: 0
		},
		show_like: {
			type: Boolean,
			default: true
		},
		show_like_num: {
			type: Boolean,
			default: true
		},
		

		// 收藏
		is_collect: {
			type: Boolean,
			default: false
		},
		collect_num: {
			type: [Number, String],
			default: 0
		},
		show_collect: {
			type: Boolean,
			default: true
		},
		show_collect_num: {
			type: Boolean,
			default: true
		},

		
		// 评论
		comment_num: { 
			type: [Number, String],
			default: 0
		},
		show_comment: { 
			type: Boolean,
			default: true
		},
		show_comment_num: {
			type: Boolean,
			default: true
		},


		// 分享
		share_num: {
			type: [Number, String],
			default: 0
		},
		show_share: {
			type: Boolean,
			default: true
		},
		show_share_num: {
			type: Boolean,
			default: true
		},
		
	},
	data() {
		return {
			
		}
	},
	methods: {
		handleLike() { // 1点赞
			// this.like_flag = e === true ? false : true
			this.$emit('dk-like')
		},
		handleCollect(e) { // 2收藏
			// this.collect_flag = e === true ? false : true
			this.$emit('dk-collect')
		},
		handleComment() { // 3评论
			this.$emit('dk-commit')
		},
		handleShare() { // 4分享
			this.$emit('dk-share')
		},
	}
}

</script>

<style scoped>
	@import "./dk-vlog-todo.css";
</style>
