.like {
    color: #f01d1d!important;
}

.collect {
    color: #ebaf0a!important;
}


.todo-con {margin: 8rpx 0;}
.todo-con text {line-height: 50rpx;}
.todo-con>view {line-height: 60rpx;}
.todo-con .left-con {float: left;}
.todo-con .left-con image {width: 60rpx; height: 60rpx; border-radius: 50%; margin-right: 16rpx; vertical-align: top;}
.todo-con .left-con>.name {text-align: left; width: 160rpx; display: inline-block; line-height: 60rpx; font-size: 24rpx;}

.todo-con .right-con {float: right;}
.todo-con .right-con>.con {display: inline-block;}
.todo-con .right-con>.con {margin-right: 12rpx;}
.todo-con .right-con>.con>.comment {transform: scaleX(-1);}
.todo-con .right-con>.con:last-child {margin-right: 0;}
.todo-con .right-con text.iconfont {color: #333; margin-right: 4rpx;}
.todo-con .right-con>.con>.num {width: 60rpx; text-align: left;}
