<template>
    <view class="content">
        <!-- <view class="sum">最佳上传数：8张</view> -->
        <dkGridImg ref="dkGridImg" :imgList="imgData" :maxFileNumber="12" @dk-change="handleChange"></dkGridImg>
        
        <view :class="['dk-btn', 'dk-btn-vigour', 'dk-btn-md', 'fixed-btn', {'active': !uploadStatus}]" @click="handleSubmit">{{ payBtn[payBtnIndex] }}</view>
    </view>
</template>

<script>
import outer from "./upload_img";
import uniSegmentedControl from "components/uni-segmented-control/uni-segmented-control.vue";
import dkGridImg from "components/dk-grid-img/dk-grid-img.vue";
import dkListItem from "components/dk-list-item/dk-list-item.vue";
export default {
    ...outer,
    components: {
        uniSegmentedControl,
        dkGridImg,
        dkListItem
    }
};
</script>

<style scoped>
@import "./upload_img.css";
</style>
