<template>
    <view class="con" @touchmove.stop.prevent="clear">
        <view class="dk-login" v-if="openFlag">
            <view class="dk-logo-con">
                <view class="title">授权登录</view>
                <view class="title sub-title">登录后体验更多功能</view>
                <view class="btn-group">
                    <button type="default" @click="handleCancel">暂不登录</button>
                    <button type="primary" @getuserinfo="handleConfirm" open-type="getUserInfo">立即登录</button>
                </view>
            </view>
        </view>
        <view class="defined" @click="handleOpen">
            <slot />
        </view>
    </view>
</template>

<script>
export default {
    components: {

    },
    props: {
        value: {
            type: Boolean,
            default: false
        },
        open: {
            type: Boolean,
            default: false
        },
        provider: {
            type: String,
            default: 'weixin'
        }
    },
    data () {
        return {
            openFlag: this.open, // 模态窗打开标记
        }
    },
    watch: {
        // value: function(newVal, oldVal) {
        // 	//console.log(this)
        // 	this.openFlag = newVal
        // 	//console.log('open', newVal)
        // },
        // openFlag: (newVal, oldVal) => {
        // 	// this.openFlag = newVal
        // 	//console.log('openFlag', newVal)
        // },
    },
    mounted () {

    },
    methods: {
        clear () { },
        handleClose () { // 关闭模态窗
            this.openFlag = false
        },
        handleOpen () {
			// this.openFlag = true
			if (uni.getStorageSync('token') === '') {
				this.openFlag = true
			}
        },
        handleCancel (e) { // 点击取消
            this.handleClose()
            this.$emit('cancel')
        },
        handleConfirm (e) { // 点击确定
            this.handleClose()
            this.handleGetUserInfo()

        },
        handleGetUserInfo () { // 获取用户信息
            let loginData = { // 登录数据
                data: {}, // 返回的信息
                flag: false, // 成功 或 失败
            }
            uni.login({
                provider: this.provider,
                success: (loginRes) => {
                    console.log('loginRes', loginRes);
                    uni.getUserInfo({
                        provider: this.provider,
                        success: (infoRes) => {
                            console.log('infoRes', infoRes);
                            infoRes.code = loginRes.code
                            infoRes.loginErrMsg = loginRes.errMsg
                            loginData.data = infoRes
							loginData.flag = true
							
							uni.setStorageSync('nickName', infoRes.userInfo.nickName)
							uni.setStorageSync('avatarUrl', infoRes.userInfo.avatarUrl)
                        },
                        fail: (err) => {
                            loginData.data = err
                            loginData.flag = false
                            console.error('信息获取失败', err)
                        },
                        complete: (res) => {
                            this.$emit('confirm', loginData)
                        }
                    });
                }
            });
        }
    }
}
</script>

<style scoped>
@import "./dk-login.css";
</style>
