.dk-login {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dk-login > .dk-logo-con {
    /* margin: 70rpx; */
    /* background-color: #f3f3f3; */
	/* display: inline-flex; */
	/* align-items: center; */
	padding: 40rpx;
	border-radius: 10rpx;
	box-shadow: 0 0 20rpx 0 rgba(0, 0, 0, 0.6);
	background-color: #FFFFFF;
	/* width: 580rpx; */
	/* margin: 0 auto; */
}

.dk-login > .dk-logo-con > .title {
	text-align: center;
	font-size: 38rpx;
}

.dk-login > .dk-logo-con > .sub-title {
	font-size: 32rpx;
	color: #8A8A8A;
}

.btn-group {
	margin-top: 20rpx;
}
.btn-group > button {
	display: inline-block;
	vertical-align: top;
	margin: 0 20rpx;
	font-size: 30rpx;
}

.dk-login > .closeBtn {
    position: fixed;
    padding: 10rpx;
    bottom: 80rpx;
    left: calc(50% - 28rpx);
    color: #ffffff;
}