

.vlog-con {width: 100%; box-sizing: border-box; padding: 20rpx 30rpx;}
.vlog-con>view { margin-bottom: 10px;}
.vlog-con>view:last-child {margin-bottom: 0;}
.vlog-con video {width: 100%; border-radius: 10rpx; vertical-align: top;}

.vlog-con .option_con {margin: 8rpx 0;}
.vlog-con .option_con text {line-height: 50rpx;}
.vlog-con .option_con>view {line-height: 60rpx;}
.vlog-con .option_con .left-con {float: left;}
.vlog-con .option_con .left-con>.name {text-align: left; width: 160rpx;}
.vlog-con .option_con .left-con image {width: 60rpx; height: 60rpx; border-radius: 50%; margin-right: 16rpx; vertical-align: top;}
.vlog-con .option_con .left-con text {display: inline-block; line-height: 60rpx; font-size: 24rpx;}

.vlog-con .option_con .right-con {float: right;}
.vlog-con .option_con .right-con>.con {display: inline-block;}
.vlog-con .option_con .right-con>.con {margin-right: 12rpx;}
.vlog-con .option_con .right-con>.con>.comment {transform: scaleX(-1);}
.vlog-con .option_con .right-con>.con:last-child {margin-right: 0;}
.vlog-con .option_con .right-con text.iconfont {color: #333; margin-right: 4rpx;}
.vlog-con .option_con .right-con>.con>.num {width: 60rpx; text-align: left;}
