<template>
	<view class="vlog-con">
		<view class="video-con">
			<video id="myVideo" :src="vlog.media_url" @error="videoErrorCallback" controls :autoplay="autoplay"></video>
		</view>
		<view class="option_con cl">
			<view class="left-con">
				<image :src="vlog.portrait"></image>
				<text class="name">{{ vlog.name }}</text>
			</view>
			<view class="right-con">
				<view class="con" @click="handleLike(vlog)">
					<text :class="['iconfont', {like: vlog.is_like}]">&#xe8c3;</text>
					<text class="num">{{ vlog.like_num }}</text>
				</view>
				<view class="con" @click="handleLike(vlog)">
					<text :class="['iconfont', {like: vlog.is_like}]">&#xe8c6;</text>
					<text class="num">{{ vlog.like_num }}</text>
				</view>
				<view class="con" @click="handleCommit(vlog)">
					<text class="iconfont comment">&#xe8b4;</text>
					<text class="num">{{ vlog.comment_sum }}</text>
				</view>
				<view class="con" @click="handleShare(vlog)">
					<text class="iconfont">&#xe8b0;</text>
					<!-- <text class="">{{ item.comment_sum }}</text> -->
				</view>
			</view>
		</view>
	</view>
</template>

<script>
export default {
	props: {
		vlog: {
			type: Object,
			default: {}
		},
		// iconType  : { type: Number,  default : 1},
		// iconSize  : { type: Number,  default : 80},
		// iconColor : { type: String,  default : "#999999"},
		// textSize  : { type: Number,  default : 30},
		// textColor : { type: String,  default : "#999999"},
		// text      : { type: String,  default :''}
	},
	data() {
		return {
			
		}
	},
	methods: {
		handleLike(e) {
			this.$emit('dk-like', e);
		},
		handleCommit(e) {
			this.$emit('dk-commit', e);
		},
		handleShare(e) {
			this.$emit('dk-share', e);
		},
		videoErrorCallback(e) {
            // uni.showModal({
            //     // content: e.target.errMsg,
            //     content: '视频解析遇到问题',
            //     showCancel: false
			// })
			console.log('视频解析遇到问题')
        }
	}
}

</script>

<style scoped>
	@import "./vlog.css";
</style>
