page { overflow: auto;}
.content { font-size: 0;}

.active::after {content: ""; width: 40rpx; display: block; height: 6rpx; background-color: red; margin: 0 auto;}

.scroll-view_H {background-color: #ffffff; height: 68rpx; position: sticky; top: 0; left: 0; right: 0; margin-bottom: 8rpx; text-align: left; z-index: 6;}
.scroll-view-item_H {line-height: 60rpx; text-align: center; font-size: 30rpx; margin: 0 5rpx; padding: 5rpx 15rpx;}
.scroll-view-item_H:last-child {margin-right: 60rpx;}

/* .con { margin: 0 10px;} */
.con > .template { width: calc(50% - 5px); height: 300px; margin: 0 10px 10px 0; display: inline-block; font-size: 12px; vertical-align: top;} 
.con > .template:nth-child(2n) { margin-right: 0px;} 

.load-con { position: fixed; bottom: 0; left: 0; right: 0; background-color: #ccc;}


.dk-img-con { display: flex; flex-wrap: wrap; margin: 0 0 0 10px;}
.dk-img-con > .dk-con { /* width:220rpx; height:330rpx; */ overflow: hidden; margin: 5px 0; background: #F3F4F5; font-size:0; position: relative; border-radius: 6rpx; margin-right: 10px; background-color: #ccc;}
.dk-img-con > .dk-con .price { width: 76rpx; height: 70rpx; border-radius: 0 0 70rpx 0; background-color: rgba(255, 0, 0, 0.6); line-height: 60rpx; color: #ffffff; text-align: left; padding-left: 10rpx; position: absolute; top: 0; left: 0; z-index: 4;}
.price.price-active { font-size: 24rpx;}
/* .dk-img-con > .dk-con image { width: 100%; height: 100%;} */