<template>
    <view class="content">
        <scroll-view
            class="scroll-view_H shadow-md"
            scroll-x="true"
            scroll-left="0"
            scroll-with-animation="true"
        >
            <view
                :class="['scroll-view-item_H', {active: item.id == vlogIndex}]"
                v-for="item in tagList"
                :key="item.id"
                @click="handleSwitch(item.id)"
            >{{ item.title }}</view>
        </scroll-view>

        <view class="dk-img-con">
            <view class="dk-con" :style="{width: tempWidth + 'px', height: tempHeight + 'px'}" v-for="item in tempList" :key="item.id">
                <dkTemplate @submit="handleSubmit(item)" @dk-click="handleDetail(item.id)" :price="detail.price" :title="detail.name" :info="detail.brief" :mediaUrl="detail.show_url">
                    <view :class="['price', {'price-active': item.price === '免费'}]">{{ item.price }}</view>
                    <!-- <image src="../../static/icon/111.jpeg" mode="widthFix" :style="{width: tempWidth + 'px', height: tempHeight + 'px'}"></image> -->
                    <image :src="item.cover" mode="" :style="{width: tempWidth + 'px', height: tempHeight + 'px'}"></image>
                </dkTemplate>
            </view>
        </view>
         

        <view class="load-con" v-if="loadingStatus >= 0">
			{{ loadingText[loadingStatus] }}
		</view>
    </view>
</template>

<script>
import outer from "./index";
import dkTemplate from "components/dk-template/dk-template.vue";
export default {
    ...outer,
    components: {
        dkTemplate,
    }
};
</script>

<style scoped>
@import "./index.css";
</style>
