page {height: 100%;}

.content {text-align: center; height: 100%;}

.cl:after {content: ""; display: block; clear: both;}

.txts {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

image {vertical-align: top;}

text {display: inline-block; vertical-align: top; }

.like {color: red!important;}

.theme_color {color: #d4237a!important;}

/* ==================
        uniapp
 ==================== */
.scroll-view_H {white-space: nowrap; width: 100%;}
.scroll-view-item_H {display: inline-block; width: auto;}

.flex-item {width: 25%; height: 0; padding-bottom: 25%; text-align: center;}
.flex-item.left-con {text-align: left;}
.flex-item.right-con {text-align: right;}

.flex-con {display: flex; align-items: center; justify-content: center;}
.flex-con>.flex-con-item {flex: 1;}
.flex-con>.flex-con-item.left-con {text-align: left;}
.flex-con>.flex-con-item.right-con {text-align: right;}

/* ==================
        阴影
 ==================== */
.shadow {box-shadow: 0 -1rpx 6rpx rgba(0, 0, 0, 0.1);}
.shadow.vigour {box-shadow: 0 -1rpx 10rpx #d4237a;}
.shadow-xs {box-shadow: 0 0rpx 4rpx rgba(0, 0, 0, 0.2);}
.shadow-md {box-shadow: 0 2rpx 4rpx rgba(0, 0, 0, 0.4);}

.ra {border-radius: 10rpx;}
.ra-xs {border-radius: 4rpx;}
.ra-sm {border-radius: 6rpx;}

.dk-modal {background-color: rgba(0, 0, 0, .6); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999; height: 100%;}
.dk-modal>.con {margin: 70rpx;}

/* ==================
        btn
 ==================== */
 .dk-btn {border: 2rpx solid #f3f3f3; background-color: #ffffff; color: #000000; font-size: 32rpx; display: inline-block; padding: 4rpx 10rpx; border-radius: 10rpx;}
 .dk-btn.dk-btn-vigour {border-color: #d4237a; color: #d4237a;}

 .dk-btn-xs {padding: 2rpx 20rpx; font-size: 28rpx; line-height: 42rpx; border: 1rpx solid #dbdbdb; border-radius: 4rpx; color: #bfbfbf;}
 .dk-btn-md {padding: 10rpx 60rpx;}
