.iconfont {
    font-family: "iconfont" !important;
    font-size: 48rpx;
    line-height: 1;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'iconfont';  /* project id 1518338 */
    src: url('//at.alicdn.com/t/font_1518338_azfjzpm4lnv.eot');
    src: url('//at.alicdn.com/t/font_1518338_azfjzpm4lnv.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1518338_azfjzpm4lnv.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1518338_azfjzpm4lnv.woff') format('woff'),
    url('//at.alicdn.com/t/font_1518338_azfjzpm4lnv.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1518338_azfjzpm4lnv.svg#iconfont') format('svg');
  }