<template>
    <view class="v-img">
        <view class="v-img-i">
            <view class="v-img-con" :style="'background-image: url('+ url +')'"></view>
        </view>
    </view>
</template>

<script>
export default {
    components: {

    },
    props: {
        value: {
            type: Boolean,
            default: false
		},
		url: {
			type: String,
			default: ''
		},

    },
    data () {
        return {

        }
    },
    watch: {

    },
    mounted () {

    },
    methods: {

    }
}
</script>

<style scoped>
@import "./dk-fit-img.css";
</style>
