.v-img {}
.v-img:after {content: ""; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden;}
.v-img>.v-img-i {list-style: none; float: left; width: 100%; position: relative;}
.v-img>.v-img-i>.v-img-con {position: relative; width: 100%; height: 0; overflow: hidden; margin: 0; padding-bottom: 100%; border-radius: 10rpx; background-position: center; background-repeat: no-repeat; background-size: cover;}