<template>
	<view class="dk-modal" v-if="openFlag">
		<view class="con">
			<slot></slot>
		</view>
		<view class="iconfont closeBtn" @click="handleClose">&#xe602;</view>
	</view>
</template>

<script>
export default {
	props: {
		open: {
			type: Boolean,
			default: false
		},
		
	},
	data() {
		return {
			openFlag: this.open, // 模态窗打开标记
		}
	},
	methods: {
		handleClose(e) { // 关闭模态窗
			this.openFlag = false
		},
	}
}

</script>

<style scoped>
	@import "./modal.css";
</style>
