.dk-modal {
    background-color: rgba(0, 0, 0, .6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    height: 100%;
}

.dk-modal>.con {
    margin: 70rpx;
    /* background-color: #f3f3f3; */
}

.dk-modal>.closeBtn {
    position: fixed;
    padding: 10rpx;
    bottom: 80rpx;
    left: calc(50% - 28rpx);
    color: #ffffff;
}