.v-img {margin: 0 0 10rpx 10rpx; padding: 0;}
.v-img:after {content: ""; display: block; clear: both; height: 0; overflow: hidden; visibility: hidden;}
.v-img>.v-img-i {list-style: none; float: left; width: calc(25% - 10rpx); margin: 0 10rpx 10rpx 0; position: relative;}
.v-img>.v-img-i>.txt {font-size: 24rpx; background-color: rgba(0, 0, 0, .2); border-radius: 50%; position: absolute; top: 6rpx; z-index: 9; width: 32rpx; height: 32rpx; line-height: 32rpx;}
.v-img>.v-img-i>.txt.del {color: #ff0000; right: 6rpx;}
.v-img>.v-img-i>.txt.num {color: #ffffff; left: 6rpx;}
.v-img>.v-img-i>.v-img-con {position: relative; width: 100%; height: 0; overflow: hidden; margin: 0; padding-bottom: 100%; border-radius: 10rpx; background-position: center; background-repeat: no-repeat; background-size: cover;}
.v-img>.v-img-i>.v-img-con.add {background-size: 90rpx; background-color: #e6e6e6;}


.v-img > .clear { text-align: right; padding: 0 10rpx 4rpx 0; color: #ccc;}
.v-img > .clear.clear-active { color: #000000;}