
.comment-list {padding-bottom: 80rpx;}
.comment-con {text-align: left; padding: 16rpx 0; border-bottom: 1px solid #F5F5F5;}
.comment-con:last-child {border-bottom: none;}
.comment-con>.head-con>image {width: 80rpx; height: 80rpx; border-radius: 50%;}
.comment-con>.head-con>.head-info {float: right; width: calc(100% - 90rpx);}
.comment-con>.head-con>.head-info>.v-name {font-size: 28rpx; color: #a0a0a0; line-height: 50rpx;}
.comment-con>.head-con>.head-info>.v-name>view {display: inline-block; margin-left: 5rpx; color: #a0a0a0;}
.comment-con>.head-con>.head-info>.v-time {font-size: 24rpx; color: #ccc; line-height: 30rpx;}
.comment-con>.txt-con {margin: 8rpx 0 8rpx 90rpx;}

.input-fixed {position: fixed; bottom: 0; left: 0; right: 0; background-color: #ffffff; text-align: left;}
.input-fixed .dk-input {height: 80rpx; line-height: 80rpx; padding: 0 25rpx; border-radius: 0 !important; -moz-box-shadow: 0 1rpx 16rpx #808080; -webkit-box-shadow: 0 1rpx 16rpx #808080; box-shadow: 0 1rpx 16rpx #808080; font-size: 28rpx;}
