<template>
	<!-- 评论内容 -->
	<view class="connent">
		<view class="comment-list">
			<view class="comment-con" v-for="item in commentData" :key="item.id">
				<view class="head-con">
					<image :src="item.from_portrait" mode="" @click="handleSkipIndex(item.from_id)"></image>
					<view class="head-info">
						<view class="v-name txt-ov">
							{{ item.from_name }}
							<view v-if="item.from_id != item.to_id">回复:{{ item.to_name }}</view>
						</view>
						<view class="v-time">{{ item.create_time }}</view>
					</view>
				</view>
				<view class="txt-con" @click="handleComment(true, item)">
					<rich-text :nodes="item.content"></rich-text>
				</view>
			</view>
		</view>

		<view class="common-input input-fixed">
			<input class="dk-input" v-model="comment_info" :focus="inputFocus" :placeholder="placeholder" confirm-type="send"
			cursor-spacing="20rpx" @focus="handleFocus" @blur="handleBlur" @confirm="haneleConfirm" />
		</view>
	</view>
</template>

<script>
export default {
	props: {
		commentData: {
			type: Array,
			default: []
		},
		
	},
	data() {
		return {
			inputFocus: false, // 输入框开始聚焦
			comment_type: false, // true:评论，false:回复
			placeholder: '说点什么...', // 评论输入框 中 默认显示
			// commentData: [],  // 评论列表
			
			/** 
			 * 以下是调用评论接口的参数
			 * 注释的内容需要在父页面进行赋值操作（尽量一致）
			 */
			// from_name: this.$store.state.nickName, // 在vuex中获取, 评论人的姓名
			// from_portrait: this.$store.state.avatarUrl, // 在vuex中获取, 评论人的头像
			// vlog_id: parseInt(this.vlog_id) // 在父页面获取, 详情页面中vlog的id
			comment_info: '', // 评论的内容
			user_id: '', // from_id, 评论人的id
			to_id: '', // 被评论的 id
			to_name: '', // 被评论的 name
			to_portrait: '', // 被评论的 头像
			has_parent: 0, // 用于二级评论 => 未启用
			parent_id: 0,  // 用于二级评论 => 未启用

		}
	},
	methods: {
		handleSkipIndex(e) { // 点击头像，跳转到主页
			this.$emit('dk-skip-index', e)
		},
		// ======= 以下是回复相关的函数 =======
		handleComment(flag, item) { // true: 回复，false：评论
			this.comment_type = flag
			this.inputFocus = true
			if (flag) { // 回复 =>
				this.to_id = item.from_id
				this.to_name = item.from_name
				this.to_portrait = item.from_portrait
			} else { // 评论 => 相当于自己回复自己,参数默认置空
				this.to_id = 0
				this.to_name = ''
				this.to_portrait = ''
			}
		},
		handleRestartComment() {
			if (this.comment_info === '') { // input 没有内容
				if (!this.comment_type) { //  || this.to_id === this.user_id
					this.placeholder = '说点什么...'
				} else {
					this.placeholder = '回复:' + this.to_name
				}
			}
		},
		handleFocus(e) { // 输入框聚焦时触发
			this.handleRestartComment()
		},
		/**
		 * @param {Object} e
		 * 输入框失去焦点时触发,
		 * input区域没有内容，将评论状态（comment_type）置为false
		 */
		handleBlur(e) {
			this.inputFocus = false
			if (this.comment_info === '') {
				this.comment_type = false
			} else {
				this.comment_type = true
			}
			this.handleRestartComment()
		},
		haneleConfirm() {
			/**
			 * 	暴露给父组件
			 *  1. 验证是否登录
			 *  2. 调用后端评论的接口
			 *  3. 重置评论状态  => this.comment_type = false && this.comment_info = ''
			 */
			let data = {
				content: this.comment_info,
				from_id: this.user_id,
				// from_name: this.$store.state.nickName,
				// from_portrait: this.$store.state.avatarUrl,
				to_id: this.to_id,
				to_portrait: this.to_name,
				to_name: this.to_portrait,
				has_parent: 0,
				parent_id: 0,
				// vlog_id: parseInt(this.vlog_id)
			}
			this.$emit('dk-comment', data)

			// 以下是 小例子
			// if (utils.affirmLogin2(this.user_id)) {
			// 	let data = {
			// 		content: this.comment_info,
			// 		from_id: this.user_id,
			// 		from_name: this.$store.state.nickName,
			// 		from_portrait: this.$store.state.avatarUrl,
			// 		to_id: this.to_id,
			// 		to_portrait: this.to_name,
			// 		to_name: this.to_portrait,
			// 		has_parent: 0,
			// 		parent_id: 0,
			// 		vlog_id: parseInt(this.vlog_id)
			// 	}
			// 	debugger
			// 	this.uploadComment(data)  // => 调用后端评论的接口
			// 	this.comment_type = false
			// 	this.comment_info = ''
			// }
		},
		
	}
}

</script>

<style scoped>
	@import "./dk-common.css";
</style>
