<template>
    <view class="content">
        
    </view>
</template>

<script>
import outer from "./aa_template"
import dkComment from "components/dk-common/dk-common.vue"
export default {
    ...outer,
    components: {
        dkComment,
    }
};
</script>

<style scoped>
@import "./aa_template.css";
</style>
