page { overflow: auto;}

.login-con { /* background-color: #0cc; */ margin: 10rpx 0; text-align: center; }
.login-con>.head-con { /* background: #ff0000; */ }
.login-con>.head-con>.img { width: 200rpx; height: 200rpx; border-radius: 50%; vertical-align: top; }
.login-con>.txt-con { margin-top: 10rpx; }


.mine_con { margin-top: 20rpx;}
.mine_con>image { width: 160rpx; height: 160rpx; border-radius: 50%;}
.mine_con>.con>text { font-size: 36rpx; font-weight: 500;}

.option_con>view { display: inline-block; width: 33.33%;}
.option_con>view>.num { margin-left: 8rpx;}

.list_con { margin-top: 30rpx;} .list_con>.item { width: 25%; height: 0; padding-bottom: 25%; display: inline-block; text-align: center; }
.list_con>.item>.con>image { width: 120rpx; height: 120rpx; display: block; margin: 10rpx auto 0; }

.active { color: #d4237a; border-bottom: 4rpx solid #d4237a; }

.flex-item { width: 100%; height: 60rpx; line-height: 60rpx; padding-bottom: 0; font-size: 36rpx; font-weight: 500; }
/* ==== */

.vlog-con { width: 100%; box-sizing: border-box; padding: 10px; }
.vlog-con > .con .txt { background-color: rgba(0, 0, 0, 0.6); color: #ffffff; font-size: 12px; padding: 1px 3px; position: absolute;}
.vlog-con > .con { width: calc(50% - 5px); margin: 0 10px 10px 0; display: inline-block; vertical-align: top; border-radius: 6rpx; overflow: hidden;}
.vlog-con > .con:nth-child(2n) { margin: 0 0 10px 0;}
.vlog-con > .con > .media-con { position: relative;}
.vlog-con > .con > .media-con > .download { position: absolute; top: 0; right: 0; padding: 1px 3px;}
.vlog-con > .con > .media-con > video { width: 100%; height: 100%;}
.vlog-con > .con > .media-con > image { width: 100%; height: 100%;}
.vlog-con > .con > .media-con > .txt { top: 0; left: 0;}
.vlog-con > .con > .media-con > .download.txt { top: 0; left: 0; text-align: right;}


.vlog-con .option_con { margin: 8rpx 0; }
.vlog-con .option_con text { line-height: 60rpx; }
.vlog-con .option_con .left-con { float: left; width: auto; }
.vlog-con .option_con .right-con { float: right; width: auto; }
.vlog-con .option_con .right-con>.con { display: inline-block; }
.vlog-con .option_con .right-con>.con { margin-right: 20rpx; }
.vlog-con .option_con .right-con>.con:last-child { margin-right: 0; }
.vlog-con .option_con .left-con image { /* height: 40rpx; */ width: 60rpx; height: 60rpx; border-radius: 50%; margin-right: 16rpx; vertical-align: top; }
.vlog-con .option_con .left-con text { display: inline-block; line-height: 60rpx; font-size: 24rpx; }
.vlog-con .option_con .right-con text.iconfont { color: #333; margin-right: 8rpx; }


.load-con { position: fixed; bottom: 0; left: 0; right: 0; background-color: #ccc;}