<template>
	<view class="content">
		<progress :percent="percent" active stroke-width="3" v-if="percent > 0"/>
		<dkLogin @confirm="handleConfirmLogin" provider="oauth">
			<view class="login-con">
				<view class="head-con">
					<image :src="imgUrl" class="img" mode=""></image>
				</view>
				<view class="txt-con">
					<text class="username">{{ username }}</text>
				</view>
			</view>
		</dkLogin>

		<view class="works_con">
			<view class="uni-flex uni-row">
				<view class="flex-item" @click="handleSwitch(0)">
					<text :class="{active: work_index == 0}">我的作品</text>
				</view>
			</view>
			<!-- <button @click="handleDownload">下载</button> -->

			<div class="vlog-con">
				<dkEmpty text="暂无内容" :iconSize="100" :iconType="3" iconColor="#0cc" v-if="vlogList.length === 0"></dkEmpty>
		
				<div class="con" v-for="item in vlogList" :key="item.id">
					<div class="media-con" v-if="item.status === '待制作'" :style="{height: tempHeight + 'px'}">
						<image :src="item.url" alt=""></image>
						<div class="txt">制作中</div>
					</div>
					<div class="media-con" v-else :style="{height: tempHeight + 'px'}">
						<video 
							:src="item.url"
							:title="item.create_time"
							@error="videoErrorCallback"
							controls
						></video>
						<div class="download txt" @click.stop="handleDownload(item.url)">下载</div>
					</div>
				</div>
			</div>

		</view>

		<view class="load-con" v-if="loadingStatus >= 0">
			{{ loadingText[loadingStatus] }}
		</view>
	</view>
</template>

<script>
	import outer from './mine'
	import dkEmpty from 'components/empty/empty.vue'
	import dkVlog from 'components/vlog/vlog.vue'
	import dkLogin from 'components/dk-login/dk-login.vue'
	export default {
		...outer,
		components: {
			dkEmpty,
			dkVlog,
			dkLogin,
		}
	}
</script>

<style scoped>
	@import './mine.css';
</style>
