<template>
	<view class="list-item">
		<view class="img-con">
			<!-- <image class="" :src="itemObj.img"></image> -->
			<image class="img" :src="itemObj.img" style="width: 80rpx; height: 80rpx;"></image>
			<image class="play-ico" src="/static/icon/play.png" style="width: 40rpx; height: 40rpx;" v-if="playIcon"></image>
		</view>
		<view class="info-con">
			<view class="h3">
				{{ itemObj.h3 }}
			</view>
			<view class="h4">
				{{ itemObj.h4 }}
			</view>
		</view>
		<view class="option-con">
			<slot></slot>
		</view>
	</view>
</template>

<script>
export default {
	props: {
		itemObj: {
			type: Object,
			default: {}
		},
		playIcon: {
			type: Boolean,
			default: true
		}
	},
	data() {
		return {
			
		}
	},
	methods: {
		
	}
}

</script>

<style scoped>
	@import "./dk-list-item.css";
</style>
