
.list-item {display: flex; border-bottom: 1rpx solid #e6e6e6; padding: 15rpx 0; background-color: #ffffff;}
.list-item>view {display: flex; align-items: center; justify-content: center;}
.list-item>.img-con {display: flex; align-items: center; justify-content: center; width: 100rpx;}
.list-item>.img-con>.img {position: absolute; z-index: 3; border-radius: 6rpx;}
.list-item>.img-con>.play-ico {position: absolute; z-index: 5;}
.list-item>.info-con {flex: 1; align-items: flex-start; justify-content: flex-start; flex-direction: column; box-sizing: border-box; padding: 0 20rpx;}
.list-item>.info-con>.h3 {font-size: 36rpx; font-weight: 500; color: #2c2c2c; line-height: 56rpx;}
.list-item>.info-con>.h4 {font-size: 32rpx; font-weight: 400; color: #bfbfbf; line-height: 42rpx;}