<script>
	export default {
		globalData: {  
			provider: 'weixin', // 平台
			tempId: 'Q21nMtA6gPKJg8_-iQ_e6I0OYMZlZunQR0qxVjveiUc', // 模板ID
			userId: 0,  // 
            qiniuToken: '', // 七牛token 
			domain: '', // 七牛token 
			token: '',
        },
		onLaunch: function() {
			// console.log('App Launch')
		},
		onShow: function() {
			// console.log('App Show')
		},
		onHide: function() {
			// console.log('App Hide')
		}
	}
</script>

<style>
	@import './static/css/uni.css';
	@import './static/css/iconfont.css';
	@import './static/css/colorui.css';
	@import './static/css/basicstyle.css';
</style>
