.dk-con { background-color: rgba(0, 0, 0, .6); position: fixed; top: 0; left: 0; right: 0; bottom: 0; z-index: 999; height: 100%; display: flex; justify-content: center; align-items: center; }
.dk-con > .dk-item { padding: 20rpx; width: calc(100% - 40rpx); border-radius: 10rpx; box-shadow: 0 0 20rpx 0 rgba(0, 0, 0, 0.6); background-color: #FFFFFF; position: relative;}
.dk-con > .dk-item > video { width: 100%; border-radius: 10rpx;}
.dk-con > .dk-item > .option > button { line-height: 2;}
.dk-con > .dk-item > .option > .price { float: left; line-height: 2;}
.dk-con > .dk-item > .option > .submit { float: right;}
.dk-con > .dk-item > .dk-close { color: #FFFFFF; position: absolute; bottom: -70rpx; left: calc(50% - 12rpx); z-index: 2;}

.btn-group { margin-top: 20rpx; }
.btn-group > button { display: inline-block; vertical-align: top; margin: 0 20rpx; font-size: 30rpx; }
.dk-login > .closeBtn { position: fixed; padding: 10rpx; bottom: 80rpx; left: calc(50% - 28rpx); color: #ffffff; }