<template>
    <view class="con" @touchmove.stop.prevent="clear">
        <view class="dk-con" v-if="openFlag" @click="handleClose">
            <view class="dk-item" @click.stop="handleReturn">
		        <view class="iconfont dk-close" @click="handleClose">&#xe602;</view>
                <video
                    :src="mediaUrl"
                    :title="title"
                    @error="videoErrorCallback"
                    controls
                ></video>
				<view class="h2">{{ title }}</view>
				<view class="h3">{{ info }}</view>
				<view class="option">
					<text class="price">
						{{ price }}
					</text>
					<button class="submit" @click="handleSubmit">
						{{ btnName }}
					</button>
				</view>
            </view>
        </view>
        <view class="defined" @click="handleOpen">
            <slot />
        </view>
    </view>
</template>

<script>
export default {
    components: {

    },
    props: {
        open: {
            type: Boolean,
            default: false
        },
        provider: {
            type: String,
            default: 'weixin'
        },
        mediaUrl: {
            type: String,
            default: ''
        },
        title: {
            type: String,
            default: ''
        },
        info: {
            type: String,
            default: ''
        },
        btnName: {
            type: String,
            default: '去制作'
        },
        price: {
            type: String,
            default: ''
        },
        
    },
    data () {
        return {
            openFlag: this.open, // 模态窗打开标记
        }
    },
    watch: {
        
    },
    mounted () {

    },
    methods: {
        clear () { },
		handleClose () { // 关闭模态窗
			// console.log('父 close')
            this.openFlag = false
		},
		handleReturn() {
			return false;
		},	
        handleOpen () {
            // console.log('userId', getApp().globalData.userId)
            this.openFlag = true
            this.$emit('dk-click')

            // if (getApp().globalData.userId > 0) {
            //     this.openFlag = true
            //     this.$emit('dk-click')
            // }
        },
        handleCancel (e) { // 点击取消
            this.handleClose()
            this.$emit('cancel')
        },
        handleConfirm (e) { // 点击确定
            this.handleClose()
            this.handleGetUserInfo()

		},
		handleSubmit() {
			this.$emit('submit')
        },
        videoErrorCallback() {
            console.log('err')  
        },
        handleGetUserInfo () { // 获取用户信息
            let tempData = {}
            let loginData = { // 登录数据
                data: {}, // 返回的信息
                flag: false, // 成功 或 失败
            }
            uni.login({
                provider: this.provider,
                success: (res) => {
                    // //console.log(res);
                    tempData = res
                    uni.getUserInfo({
                        provider: this.provider,
                        success: (res) => {
                            console.log('信息获取成功：', res);
                            res.code = tempData.code
                            res.loginErrMsg = tempData.errMsg
                            loginData.data = res
                            loginData.flag = true
                        },
                        fail: (err) => {
                            loginData.data = err
                            loginData.flag = false
                            console.error('信息获取失败', err)
                        },
                        complete: (res) => {
                            this.$emit('confirm', loginData)
                        }
                    });
                }
            });
        }
    }
}
</script>

<style scoped>
@import "./dk-template.css";
</style>
